{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% load static %}
{% block main %}
<div class="container">
	<div class="blockA">
		<h2 style="
	text-align: center;
	color: var(--a-c);
	text-shadow: 1px 1px 2px var(--a-d);
	font-family: 'Pacifico';
      ">Admin posts</h2>
		<br>
		<section>

			{% for post in adminposts %}
				{% if post.status != 0 %}
				<div class="article">
					<img src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
					<div class="articleB">
						<a class="posttitle" href="{% url 'postpage' post.slug %}">{{ post.title }}</a>
						<p class="subtle">Author: {{ post.author }}</p>
						<a href="{% url 'postpage' post.slug %}" class="btn" style="width: 100%;text-align: center;">Read</a>
						<p class="artdate">{{ post.created_on }}</p>
					</div>
				</div>
				{% endif %}
			{% endfor %}

		</section>
		<br>
		<h2 style="
	text-align: center;
	color: var(--a-c);
	text-shadow: 1px 1px 2px var(--a-d);
	font-family: 'Pacifico';
      ">All Posts</h2>
		<section>
			{% for post in allposts %}
				{% if post.status != 0 %}
				<div class="article">
					<img src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
					<div class="articleB">
						<a class="posttitle" href="{% url 'postpage' post.slug %}">{{ post.title }}</a>
						<p class="subtle">Author: {{ post.author }}</p>
						<a href="{% url 'postpage' post.slug %}" class="btn" style="width: 100%;text-align: center;">Read</a>
						<p class="artdate">{{ post.created_on }}</p>
					</div>
				</div>
				{% endif %}
			{% endfor %}
		</section>
	</div>
</div>

{% endblock %}