<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title>Chirp</title>
</head>
<body>
    <div id="wrapper">

        <nav>
            <a href="#" class="logo">Chirp.</a>
            <input type="checkbox" id="openSideMenu">
            <label for="openSideMenu" id="sidebarIconToggle">
                <i class="fa-solid fa-bars"></i>
            </label>
            <div class="links">
                <a href="#home">Home</a>
                <a href="#">Pricing</a>
                <a href="#">FAQ</a>
                <a href="#" class="button"><i class="fab fa-twitter"></i> Sign in with Twitter</a>
            </div>
        </nav>
        
        <section id="home">
            <div class="left-panel">
                <h2>Twitter analytics taken to a whole new level.</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores, blanditiis aut! Adipisci non a iusto quisquam autem optio quas tempore labore aliquid delectus, eligendi iste. Vel in qui incidunt. Dolores, harum. Vero, asperiores!</p>
                <div class="left-buttons">
                    <a href="#" class="button"><i class="fab fa-twitter"></i> Sign in with Twitter</a>
                    <a href="#" class="learnmore">Learn more &#8594</a>
                </div>
                <div id="people">
                    <div class="img1">
                        <img src="/assets/userAvatar01.svg" id="img1" alt="">
                        <div class="image-child-container">
                            <img src="/assets/userAvatar02.svg" id="img2" alt="">
                            <div class="image-child-container">
                                <img src="/assets/userAvatar03.svg" id="img3" alt="">
                                <div class="image-child-container">
                                    <img src="/assets/userAvatar04.svg" id="img4" alt="">
                                    <div class="image-child-container">
                                        <img src="/assets/userAvatar05.svg" id="img5" alt="">
                                        <div class="image-child-container">
                                            <img src="/assets/userAvatar06.svg" id="img6" alt="">
                                            <div class="image-child-container">
                                                <img src="/assets/userAvatar07.svg" id="img7" alt="">
                                                <div class="image-child-container">
                                                    <img src="/assets/userAvatar08.svg" id="img8" alt="">
                                                    <div class="image-child-container">
                                                        <img src="/assets/userAvatar09.svg" id="img9" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p>Join 195 others who have analyzed their followers and scheduled 1342 tweets!</p>
            </div>

            <div class="right-panel">
                <img src="/assets/Hero Image (Desktop View).png" alt="">
            </div>
        </section>
    </div>
</body>
</html>