{% extends 'base.html' %}
{% block title %}My account{% endblock %}
{% block main %}

<section class="user-card">
	<ul class="userinfo">
		<li><strong>Username: </strong>{{ request.user.username }}</li>
		<li><strong>E-mail: </strong>{{ request.user.email }}</li>
	</ul>
	
	<a id="edit-link" href="{% url 'edit_myaccount' %}" class="btn">Edit</a>	
</section>

<h2 style="text-align: center; color: #fff; text-shadow: 2px 2px #aaa, 3px 3px 12px #888;margin: 25px 0;">Welcome {{ request.user }}</h2>
<div class="dash-resume" style="justify-content: center;gap: 30px;">
	<a href="#edit-link" id="addpost">New Post<i class="fa-solid fa-plus"></i></a>
	<a href="#comments" id="mycomments">My Comments<i class="fa-solid fa-comment"></i></a>
</div>
<section id="newpost-form">
	<form action="{% url 'newpost' %}" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ post_form }}
		{{ post_form.media }}
		<button type="submit" class="btn">Create</button>
	</form>
</section>

<div class="blockA" id="allposts">
	<section>
		{% if user_posts|length > 0 %}
			{% for post in user_posts %}
			<div class="article" style="height: 100%;">
				<img src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
				<div class="articleB">
					<a href="/post/{{ post.slug }}" class="btn" style="width: 100%;text-align: center;">Read</a>
				</div>
				<form action="." method="post" class="delete">
					{% csrf_token %}
					<textarea name="posttitle" readonly>{{ post.title }}</textarea>
					<button type="submit">Delete Post</button>
				</form>
				<p class="artdate">{{ post.created_on }}</p>
			</div>
			{% endfor %}
		{% else %}
			<a href="#newpost-form" class="btn">Make a post!</a>
		{% endif %}
	</section>
</div>

<div class="blockA" id="comments">
<h2 style="text-align: center; margin: 20px 0;">Comments</h2>
<section>
	{% if comments|length > 0 %}
		{% for comment in comments %}
			<div class="comment-article">
				<img src="{{ comment.post_commented.thumbnail.url }}" alt="xd">
				<div class="articleB">
					<a id="post_commented_id" href="/post/{{ comment.post_commented.slug }}">{{ comment.post_commented }}</a>
					<a href="/post/{{ comment.post_commented.slug }}" class="btn" style="width: 100%;text-align: center;">Read</a>
				</div>
				<p class="artdate">{{ comment.timestamp }}</p>
				<form action="." method="post" class="delete">
					{% csrf_token %}
					<textarea name="commenttext" readonly>{{ comment.text }}</textarea>
					<button type="submit">Delete Comment</button>
				</form>
			</div>
		{% endfor %}
	{% else %}
		<div class="empty">
			<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.betterttv.net%2Femote%2F5f5130616084af6c171975d8%2F3x&f=1&nofb=1&ipt=325c064593f852d7cd496b48daec75e8bc03033d3fe5d38fabbf0c7d11490916&ipo=images" alt="empty place">
			<p>When you leave a comment, you will see it here</p>
		</div>
	{% endif %}
	
</section>	
</div>


{% endblock %}
{% block scripts %}
<script>
let newpost = document.getElementById('addpost')
	let postform = document.getElementById('newpost-form')
	newpost.addEventListener('click',function(){
		if(postform.style.height === '0px'){
			postform.style.height = '100%'
		}else{postform.style.height = '0px'}
	})

</script>
{% endblock %}